@import '../fonts/stylesheet.css';

html, body {
    margin: 0;
    font-family: 'Inter';
    background-color: #f5f0f6;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

.link {
    text-decoration: none;
}

.content {
    margin: 0 0 20px 30px;
    font-weight: 300;
    color: #171614;
    width: calc(100vw - 222px);
}