@import '../fonts/stylesheet.css';

body {
    margin: 0;
    font-family: 'Inter';
    background-color: #f5f0f6;
}

body::-webkit-scrollbar {
    display: none;
}

.link {
    text-decoration: none;
}

.page-title {
    font-weight: 900;
    margin: 10px;
    color: #42b883;
}